@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Red : hsl(0, 100%, 66%); /* (input errors) */
    /* - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%) */
    --Font-size: 18px;
    --Font: 'Space Grotesk', sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Font);
}
.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
body{
    min-height: 100vh;
    background: red;
    font-size: var(--Font-size);
}
.card_container{
    background-color: black;
}
.card{
    max-width: 337px;
    height: 185px;
    background-color: yellow;
    margin: 0 auto;
    position: relative;
}
.card_back{
    background-image: url("/images/bg-card-back.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card_back .cvc{
    position: absolute;
    text-align: right;
    background-color: transparent;
    padding: 6px;
    width: 273px;
    top: 77px;
    left: 10%;
    border: 0;
    outline: none;
    border-radius: 5px;
}